@import "tailwindcss";

.Franklin {
    font-family: 'Franklin Gothic', sans-serif;
}

@layer utilities {
    @keyframes infiniteScroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes reverseScroll {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .animate-infiniteScroll {
        animation: infiniteScroll 300s linear infinite;
    }

    .animate-reverseScroll {
        animation: reverseScroll 300s linear infinite;
    }
}