@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
    background-color: #1C2430 !important;
    font-family: "Sarabun", sans-serif !important;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'FranklinBold';
    src: url('../src/assets/fonts/FranklinGothic-Bold.otf') format('opentype');
    font-weight: 700;
}

.ff-franklin {
    font-family: 'franklin', sans-serif;
}

@layer utilities {
    @keyframes infiniteScroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes reverseScroll {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .animate-infiniteScroll {
        animation: infiniteScroll 900s linear infinite;
    }

    .animate-reverseScroll {
        animation: reverseScroll 900s linear infinite;
    }
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #00243C !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

}